/bin/
/.classpath
/.gradle
/.project
/.settings
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/config/forge.cfg
/config/forgeChunkLoading.cfg
/crash-reports
/eclipse
/saves
/logs
/options.txt
/hs_err_pid2072.log
/forge-1.7.10-10.13.0.1180-changelog.txt
/src/main/resources/assets/byprod/textures/items/Thumbs.db
